/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-color: #edeef0;
	line-height: 1.2;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	background-color: #FFE074;
}
/*-------------------------------------------------------------------------------*/

/*Main*/ 

h1 {
	/*visibility: hidden;*/
	display: none;
}

.main-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.body-left {
	display: flex;
	justify-content: space-between;
}

.body-card-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 900px;
}

.body-right {
	width: 279px;
	margin: 25px 0;
}

/*-------------------------------------------------------------------------------*/

/*Body card left*/

.body-card {
	position: relative;
	width: 270px;
	height: 335px;
	margin: 25px 15px;
}

.body-card-title {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 0;
	margin: 10px 15px;
}

.comfort {
	width: 80px;
	height: 22px;
	text-align: center;
	margin-right: 10px;
	padding: 2px 0 0 0;
	border-radius: 5px;
	color:#000;
	background-color: #FFCF26;
}

.sale {
	width: 142px;
	height: 22px;
	text-align: center;
	padding: 2px 0 0 0;
	border-radius: 5px;
	color: #fff;
	background-color: #11BE75;
}

.body-card-footer {
	padding: 15px 15px;
	background-color: #fff;
	color: #000;
}

.card-title {
	font-size: 18px;
	line-height: 1.16;
	font-weight: bold;
	color: #000000;
}
.card-time {
	line-height: 1.14;
	color: #000000;
}
.card-adress {
	line-height: 1.14;
	color: #777777;
}

.metro-img::before {
	content: url(../img/metro.svg);
	margin-right: 10px;
}

.body-more {
	margin: 0 auto;
}

.button-more {
	width: 870px;
	height: 80px;
	text-decoration: underline;
	cursor: pointer;
	color: #4290C9;
	background: #E5E5E5;
}

.button-more::before {
	content: url(../img/plusCircle.svg);
	margin-right: 10px;
	vertical-align: middle;
}

.visually-hidden {
	display: none;
}

.visually-hidden.active {
	display: flex;
}

/*-------------------------------------------------------------------------------*/

/*Select menu right*/

/*distance*/

.distance button {
	margin-right: -3px;
	border: 1px solid #E5E5E5;
}

.distance-title {
	display: flex;
	width: 270px;
	justify-content: space-between;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}

.buttons-distance button {
	width: 67px;
	height: 50px;
	color: #000;
}

.distance-title button {
	border: none;
}

.buttons-distance button:active,
.buttons-distance button:focus,
.buttons-distance button:target {
	background-color: #FFCF26;
}

.distance-all {
	width: 270px;
	height: 50px;
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
	color: #000;
}

/*-------------------------------------------------------------------------------*/

/*time*/

.time-title {
	display: flex;
	width: 270px;
	justify-content: space-between;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}

.time {
	display: block;
	cursor: pointer;
}

.time + .time {
	margin-top: 15px;
}

.time-radio {
	margin: 30px 0;
}

.time-radio input {
	margin-right: 10px;
}

.real-radio {
	display: none;
}

.real-radio:checked + .fake-radio::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background: #3c3c3c;
}

.real-radio:checked + .fake-radio {
	background-color: #FFE074;
}

.real-radio:checked ~ .time-text {
	font-weight: bold;
}

.fake-radio {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: bottom;
	border: 1px solid #777777;
	border-radius: 50%;
	background-color: #fff;
}

.time-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.19;
}

/*-------------------------------------------------------------------------------*/

/*settings*/

.settings-title {
	display: flex;
	width: 270px;
	justify-content: space-between;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

.settings-checks input {
	margin-right: 10px;
}

.settings-check {
	margin: 30px 0;
}
.settings-title {}
.settings-checks {}

.settings {
	display: block;
	cursor: pointer;
}

.settings + .settings {
	margin-top: 15px;
}

.settings-radio {
	display: none;
}

.fake-settings-radio {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: bottom;
	border: 1px solid #777777;
	background-color: #fff;
}

.settings-radio:checked + .fake-settings-radio::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 13px;
	height: 13px;
	transform: translate(-50%, -50%);
	background: url(../img/check.svg) no-repeat center;
}

.settings-radio:checked + .fake-settings-radio {
	background-color: #FFE074;
}

.settings-radio:checked ~ .settings-text {
	font-weight: bold;
}
.settings-text {}

.settings-more {
	margin-top: 15px;
}

/*-------------------------------------------------------------------------------*/

/*toggle*/

.toggle {
	cursor: pointer;
}

.toggle-radio {
	display: none;
}

.toggle-radio:checked ~ .toggle-text {
	font-weight: bold;
}

.fake-toggle-radio {
	position: relative;
	display: inline-block;
	width: 37px;
	height: 20px;
	vertical-align: middle;
	margin-right: 10px;
	border-radius: 10px;
	background: #C4C4C4;
}

.fake-toggle-radio::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #3C3C3C;
}

.toggle-radio:checked + .fake-toggle-radio {
	background: #FFE074;
}

.toggle-radio:checked + .fake-toggle-radio::before {
	left: auto;
	right: 2px;
}

.toggle-text {}

/*-------------------------------------------------------------------------------*/

/*Submit*/

.submit-button {
	margin: 30px 0;
	cursor: pointer;
}

.border-gradient {
	border: 3px solid #FFCF26;
	border-image-slice: 1;
	border-width: 5px;
}

.submit-filter:hover {
	border-image-source: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.submit-filter {
	width: 270px;
	height: 50px;
	text-align: center;
	color: #000000;
	background: #FFCF26;
}

.submit-default::before {
	content: url(../img/x.svg);
	vertical-align: middle;
	padding-right: 10px;
}

.submit-default {
	margin-top: 10px;
	width: 270px;
	height: 50px;
	text-align: center;
	background: #ffffff;
}

/*-------------------------------------------------------------------------------*/

/*Right aside (burger)*/

.nav-burger {
	display: none;
}

@media (max-width:767px){
	.nav-burger {
		display: block;
		position: fixed;
		right: 15px;
		width: 30px;
		height: 20px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.nav-burger button {
		position: fixed;
	}
	.nav-burger span {
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
		left: 0;
		background-color: #fff;
	}
	.nav-burger::before, .nav-burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.nav-burger::before {
		top: 0;
	}
	.nav-burger::after {
		bottom: 0;
	}
	.body-right {
		display: none;
	}
	.body-right.active {
		display: block;
		position: absolute;
		right: 15%;
	}
	.body-right {
		margin: 0 auto;
	}
}

/*-------------------------------------------------------------------------------*/

/*chevron*/

.buttons-distance.active {
	display: none;
}
.distance-title.active {}

.chevronUp.active {
	transform: rotate(180deg);
}

.time.active {
	display: none;
}
.chevronUp2.active {
	transform: rotate(180deg);
}

.settings.active {
	display: none;
}
.chevronUp3.active {
	transform: rotate(180deg);
}

/*-------------------------------------------------------------------------------*/

/*Adaptive*/

@media (min-width:451px) and (max-width:767px){
	.body-card-wrapper {
		display: flex;
		width: 700px;
	}
	.body-right {
		width: 210px;
		margin: 45px 0 0 0;
		box-shadow: 0 0 20px 4px rgba(177, 174, 174, 1);
		background: #fff;
	}
	.body-card {
		width: 300px;
		height: 335px;
		margin-top: 30px;
	}
	.body-card-footer {
		width: 271px;
	}
	.body-card-title span {
		padding-top: 3px;
	}
	.button-more {
		width: 200px;
	}
	.visually-hidden.active {
		display: flex;
		flex-direction: column;
	}
	.aside-form {
		position: fixed;
		width: 250px;
		box-shadow: 0 0 20px 4px rgba(177, 174, 174, 1);
		background: #fff;
	}
	.buttons-distance button {
		width: 44px;
		height: 50px;
	}
	.buttons-distance,
	.time,
	.settings, 
	.settings-more,
	.toggle {
		margin: 0 20px;
	}
	.distance-title,
	.time-title,
	.settings-title {
		width: 200px;
		margin: 0 auto;
	}
	.distance-title button,
	.time-title button,
	.settings-title button {
		margin-right: 10px;
		background: #fff;
		border: none;
	}
	.distance-all,
	.submit-filter,
	.submit-default {
		width: 180px;
		margin: 0 20px;
	}
}

@media (max-width:450px){
	.body-card-wrapper {
		display: flex;
		flex-direction: column;
		width: 250px;
	}
	.body-right {
		width: 210px;
		margin: 45px 0 0 0;
		box-shadow: 0 0 20px 4px rgba(177, 174, 174, 1);
		background: #fff;
	}
	.body-card {
		width: 200px;
		height: 335px;
		margin-top: -15px;
	}
	.body-card:first-child {
		margin-top: 30px;
	}
	.body-card-title {
		width: 180px;
		height: 22px;
		font-size: 12px;
	}
	.body-card-title span {
		padding-top: 3px;
	}
	.button-more {
		width: 200px;
	}
	.visually-hidden.active {
		display: flex;
		flex-direction: column;
	}
	.aside-form {
		position: fixed;
		width: 250px;
		box-shadow: 0 0 20px 4px rgba(177, 174, 174, 1);
		background: #fff;
	}
	.buttons-distance button {
		width: 44px;
		height: 50px;
	}
	.buttons-distance,
	.time,
	.settings, 
	.settings-more,
	.toggle {
		margin: 0 20px;
	}
	.distance-title,
	.time-title,
	.settings-title {
		width: 200px;
		margin: 0 auto;
	}
	.distance-title button,
	.time-title button,
	.settings-title button {
		margin-right: 10px;
		background: #fff;
		border: none;
	}
	.distance-all,
	.submit-filter,
	.submit-default {
		width: 180px;
		margin: 0 20px;
	}
}

/*-------------------------------------------------------------------------------*/